figure {
  margin: 0;
  display: inline-block;
}

.Badge__hero {
  width: 100%;
  padding: 2rem 0;
  background: url('../../assets/images/stars.svg'), #1b1b25;
  background-repeat: repeat;
  margin-bottom: 1rem;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Badge__hero.Badges__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Badge__hero img {
  height: 100px;
}
